#big {
	position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  font-family: 'Open sans';
  font-size:12px;
  font-weight: 300;
  -webkit-user-select: none;
  text-align: center;
  color: white;
  background-image:
  linear-gradient(125deg, #16222A, #3A6073);
  /*linear-gradient(125deg, #1e4553, #4b8b99 50%, #aecad1);*/
  /*linear-gradient(0deg, #69abc3, #69abc3 10%, #70bca9 40%, #408c99 80%, #408c99);*/
  cursor: default;
}

button:focus {
  outline: none;
}

dialog::backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
}
